For loop

In [ ]:
laptop1 = int(input('Enter the price of the laptop : '))
laptop2 = int(input('Enter the price of the laptop : '))
laptop3 = int(input('Enter the price of the laptop : '))
laptop4 = int(input('Enter the price of the laptop : '))
laptop5 = int(input('Enter the price of the laptop : '))

Enter the price of the laptop : 20000
Enter the price of the laptop : 30000
Enter the price of the laptop : 40000
Enter the price of the laptop : 50000
Enter the price of the laptop : 60000

In [ ]:
for i in range(7):    # 0,1,2,3,4,5,6
  laptop_price = int(input('Enter the price of the laptop : '))

Enter the price of the laptop : 6
Enter the price of the laptop : 7
Enter the price of the laptop : 8
Enter the price of the laptop : 9
Enter the price of the laptop : 2
Enter the price of the laptop : 3
Enter the price of the laptop : 4

In [ ]:
numbers = [50, 100, 150, 200]

print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[3])

50
100
150
200

In [ ]:
numbers = [50, 100, 150, 200]

for i in numbers:
  print(i)

50
100
150
200

While Loop

while condition:

    statement

In [ ]:
i = 0

while i<10:
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
i = 5

while i<3:
  print(i)
  i +=1

# for loop is used where we know the range
# and while is used where range is'nt specified
both get executed when their respective statements are true.