py2 notes

# Python Data Structures and Boolean

    Boolean
    Boolean and Logical Operators
    Lists
    Comparison operators
    Dictionaries
    Tuples

# Boolean
Boolean Variables

Boolean values are the two constant objects False and True.

They are used to represent truth values (other values can also be considered false or true).

In numeric contexts (for example, when used as the argument to an arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean, if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [4]:
type(True)

bool

In [7]:
# inbuilt bool functions in python

In [46]:
my_str="zeta"

In [21]:
#syntax 

#print(my_str.()) 


##to see the list of inbuilt functions press Tab after .

In [22]:
#(my_str.capitalize()) ##to check the specific usecase of that function press shift + tab before ()

In [52]:
print(my_str.isalnum()) #check if all char are alphabet or numbers or both
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words means starting of each word should be uppercase then true else false
print(my_str.isupper()) #test if string contains upper case 
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('k')) #test if string endswith a k
print(my_str.startswith('K')) #test if string startswith K

True
True
False
False
False
True
False
False
False

# Boolean and Logical Operators

In [53]:
True and True

True

In [54]:
True and False

False

In [55]:
False and False

False

In [56]:
False or True

True

In [57]:
True or False

True

In [58]:
True or True

True

In [64]:
False or False #both false for for or then only false else it will be true for every other or

False

In [62]:
str_example='Hello World'
my_str='zera'

In [63]:
my_str.isalpha() or str_example.isnum()

True

# Lists

In [65]:
#list is a data structure in python which can be changed. it is basically an ordered sequence of elements seperated by , 
#  values are defined inside []

In [66]:
type([])

list

In [68]:
l=[]

In [69]:
type(l)

list

In [73]:
lsst = list() #list() is python inbuilt list function

In [95]:
lsst = ['harry','sheesh',12,667,99] #we can add different data types in list each is treated as one before ,

In [96]:
len(lsst)

5

# Append

In [77]:
#append is used to add elements in the list 
# new elements with append will be added in the last.

In [97]:
lsst.append("x") #append only take one argument at a time so we can add only one element at a time with append

In [98]:
print(lsst)

['harry', 'sheesh', 12, 667, 99, 'x']

In [103]:
##Indexing in List
lsst[5]

'x'

In [104]:
lsst[1:5]

['sheesh', 12, 667, 99]

# Insert

In [101]:
#helps in inserting values in a specific order

In [105]:
lsst.insert(2,"karen")

In [106]:
lsst

['harry', 'sheesh', 'karen', 12, 667, 99, 'x']

# Extend method

In [107]:
#extend is used as with append if we pass two arguments at a time then they will result in nested list.
#example=

In [108]:
lsst.append([4,5])

In [109]:
lsst

['harry', 'sheesh', 'karen', 12, 667, 99, 'x', [4, 5]]

In [110]:
#now with extend we can avoid that and they will be added as elements in the list

In [111]:
lsst.extend([88,9])

In [112]:
lsst

['harry', 'sheesh', 'karen', 12, 667, 99, 'x', [4, 5], 88, 9]

# Various Operations that we can perform in List

In [122]:
lzst=[1,2,3,4,5]

In [123]:
sum(lzst)

15

In [124]:
lzst * 2 #appends the list by n

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

# Pop() Method

In [118]:
# pop() method is used to remove a element from the list whose index is given in (). if not specified it will remove the last element.

In [126]:
lzst.pop() #as index is'nt specifies in () . by default last element will be removed

5

In [127]:
lzst

[1, 2, 3, 4]

In [128]:
lzst.pop(2) #now element at index(2) will be removed

3

In [129]:
lzst

[1, 2, 4]

# count():Calculates total occurrence of given element of List

In [130]:
lst=[1,1,2,3,4,5]
lst.count(1)

2

In [131]:
#length:Calculates total length of List
len(lst)

6

In [132]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(1,1,4)

1

In [133]:
##Min and Max
min(lst)

1

In [134]:
max(lst)

5