# Sets

## A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [1]:
## Defining an empty set

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [9]:
set_var={1,2,3,7} #in set elements are added in curly braces {}

In [6]:
set_var   #for printing set also set doesnt have any duplicate value

{1, 2, 3, 7}

In [8]:
print(set_var)  #o.g way of printing

{1, 2, 3, 7}

In [10]:
set_var={"alpha","beta",'gamma'}
print(set_var)
type(set_var)

{'alpha', 'gamma', 'beta'}

set

In [11]:
#for adding new element in a existing set

#syntax

# setname.add('element')

In [12]:
set_var.add("zeta")

In [13]:
set_var

{'alpha', 'beta', 'gamma', 'zeta'}

# operations on sets

In [14]:
#lets take 2 sets

In [15]:
set1={"alpha","beta","gamma","delta"}
set2={"beta","gamma","iota"}

In [17]:
set2.difference(set1) #just write the first set (from which we want to subract then write operation then in (second set name))

{'iota'}

In [18]:
#but using difference won't update the original set to update it we use update with difference or any operation we use.

In [20]:
set2 #it doesnt get updated

{'beta', 'gamma', 'iota'}

In [21]:
#to update the original set
set2.difference_update(set1)

In [23]:
set2 #updated

{'iota'}

In [24]:
#similary we do other operations too
#to explore more press Tab after setname.

In [26]:
set1

{'alpha', 'beta', 'delta', 'gamma'}

In [28]:
set3={"gamma","epsilon","mu"}

In [32]:
set3.intersection(set1) #set3 is'nt updated

{'gamma'}

In [30]:
#similar for updating use
set3.intersection_update(set1)

In [33]:
set3

{'gamma'}

# Dictionaries

In [41]:
#A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [42]:
#difference between dict and set
# in set we directly put values inside{}
#and in dict we assign value element value to each variable

In [45]:
#python inbuilt dictionary variable is dict()
type(dict())

dict

In [44]:
## Let create a dictionary

my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Benz"}

In [46]:
type(my_dict)

dict

In [47]:
##Access the item values based on keys

my_dict['Car1']

'Audi'

In [48]:
# We can even loop throught the dictionaries keys
for x in my_dict:
    print(x)

Car1
Car2
Car3

In [49]:
# We can even loop throught the dictionaries values
for x in my_dict.values():
    print(x)

Audi
BMW
Benz

In [50]:
# We can also check both keys and values
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Benz')

In [55]:
## Adding items in Dictionaries

In [52]:
my_dict['car4']='polo'

In [53]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Benz', 'car4': 'polo'}

In [56]:
#for changing the existing value just assign the new value to variable

In [57]:
my_dict['Car1']='Tesla'

In [58]:
my_dict

{'Car1': 'Tesla', 'Car2': 'BMW', 'Car3': 'Benz', 'car4': 'polo'}

# Nested Dictionaries

In [60]:
car1_model={'Audi':1950}
car2_model={'Benz':1980}
car3_model={'Polo':1972}
car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [61]:
type(car_type)

dict

In [62]:
print(car_type)

{'car1': {'Audi': 1950}, 'car2': {'Benz': 1980}, 'car3': {'Polo': 1972}}

In [63]:
## Accessing the items in the dictionary

print(car_type['car1'])

{'Audi': 1950}

In [67]:
print(car_type['car1']['Audi'])

1950

# Tuples
##in tuples we can't change the value of the variable once assigned. we can only change the whole tuple

In [70]:
## create an empty Tuples

my_tuple=tuple() #in tuple we use ()

In [69]:
type(my_tuple)

tuple

In [72]:
my_tuple=('zsh','fish','bash')

#print tuple

In [73]:
my_tuple

('zsh', 'fish', 'bash')

In [74]:
## Inbuilt function
my_tuple.count('zsh')

1

In [76]:
my_tuple.index('bash')

2