In [1]:
## Read Json to CSV

In [5]:
import pandas as pd

In [16]:
Data = '{"emp_name":"rah","email":"rah@msn.com","job_profile":[{"title1":"Team Lead", "title2":"sr. dev"}]}'

In [17]:
df1=pd.read_json(Data)

In [18]:
df1

  emp_name        email                                   job_profile
0      rah  rah@msn.com  {'title1': 'Team Lead', 'title2': 'sr. dev'}

In [7]:
df=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data',header=0)

In [8]:
df.head()

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

In [9]:
#convert json to csv

In [10]:
df.to_csv('wine.csv')

In [11]:
# convert Json to different json formats

In [20]:
df1.to_json()

<bound method NDFrame.to_json of   emp_name        email                                   job_profile
0      rah  rah@msn.com  {'title1': 'Team Lead', 'title2': 'sr. dev'}>

In [19]:
df1.to_json(orient="index")

'{"0":{"emp_name":"rah","email":"rah@msn.com","job_profile":{"title1":"Team Lead","title2":"sr. dev"}}}'

In [21]:
df1.to_json(orient="records")

'[{"emp_name":"rah","email":"rah@msn.com","job_profile":{"title1":"Team Lead","title2":"sr. dev"}}]'

# Reading HTML content

In [22]:
url ='https://www.fdic.gov/bank/individual/failed/banklist.html'

In [25]:
dfs=pd.read_html(url)

ImportError: html5lib not found, please install it

In [26]:
conda install html5lib

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /home/maskeen/anaconda3

  added / updated specs:
    - html5lib


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    html5lib-1.1               |     pyhd3eb1b0_0          91 KB
    ------------------------------------------------------------
                                           Total:          91 KB

The following NEW packages will be INSTALLED:

  html5lib           pkgs/main/noarch::html5lib-1.1-pyhd3eb1b0_0



Downloading and Extracting Packages

Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [4]:
url ='https://www.fdic.gov/bank/individual/failed/banklist.html'

In [6]:
dfs=pd.read_html(url)

ValueError: No tables found

In [7]:
#not working as there are no tables in it. but the syntax is correct.

In [8]:
url_mcc = 'https://en.wikipedia.org/wiki/Mobile_country_code'

In [9]:
dfs=pd.read_html(url_mcc, match='Country', header = 0)

In [10]:
dfs

[     Mobile country code                                    Country ISO 3166  \
 0                    289                                 A Abkhazia    GE-AB
 1                    412                                Afghanistan       AF
 2                    276                                    Albania       AL
 3                    603                                    Algeria       DZ
 4                    544  American Samoa (United States of America)       AS
 ..                   ...                                        ...      ...
 247                  452                                    Vietnam       VN
 248                  543                        W Wallis and Futuna       WF
 249                  421                                    Y Yemen       YE
 250                  645                                   Z Zambia       ZM
 251                  648                                   Zimbabwe       ZW

                                   Mobile network codes National MNC authority  \
 0             List of mobile network codes in Abkhazia                    NaN
 1          List of mobile network codes in Afghanistan                    NaN
 2              List of mobile network codes in Albania                    NaN
 3              List of mobile network codes in Algeria                    NaN
 4       List of mobile network codes in American Samoa                    NaN
 ..                                                 ...                    ...
 247        List of mobile network codes in the Vietnam                    NaN
 248  List of mobile network codes in Wallis and Futuna                    NaN
 249          List of mobile network codes in the Yemen                    NaN
 250             List of mobile network codes in Zambia                    NaN
 251           List of mobile network codes in Zimbabwe                    NaN

                       Remarks
 0    MCC is not listed by ITU
 1                         NaN
 2                         NaN
 3                         NaN
 4                         NaN
 ..                        ...
 247                       NaN
 248                       NaN
 249                       NaN
 250                       NaN
 251                       NaN

 [252 rows x 6 columns]]

In [11]:
dfs[0]

,Mobile country code,Country,ISO 3166,Mobile network codes,National MNC authority,Remarks
0,289,A Abkhazia,GE-AB,List of mobile network codes in Abkhazia,NaN,MCC is not listed by ITU
1,412,Afghanistan,AF,List of mobile network codes in Afghanistan,NaN,NaN
2,276,Albania,AL,List of mobile network codes in Albania,NaN,NaN
3,603,Algeria,DZ,List of mobile network codes in Algeria,NaN,NaN
4,544,American Samoa (United States of America),AS,List of mobile network codes in American Samoa,NaN,NaN
...,...,...,...,...,...,...
247,452,Vietnam,VN,List of mobile network codes in the Vietnam,NaN,NaN
248,543,W Wallis and Futuna,WF,List of mobile network codes in Wallis and Futuna,NaN,NaN
249,421,Y Yemen,YE,List of mobile network codes in the Yemen,NaN,NaN
250,645,Z Zambia,ZM,List of mobile network codes in Zambia,NaN,NaN
251,648,Zimbabwe,ZW,List of mobile network codes in Zimbabwe,NaN,NaN

# Reading Excel Files

In [12]:
#syntax excel_file=pd.read_excel('name.xlsx')

# Pickling

All pandas objects are equipped with to_pickle methods which use Python’s cPickle module to save data structures to disk using the pickle format.

In [14]:
# syntax excel_file.to_pickle('excel_file')

In [15]:
# df=pd.read_pickle('excel_file')

In [16]:
#df.head()